{{!< index}}

<footer class="site-footer">
  <div class="inner">
     <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
     <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>, constructed using <a href="http://www.sublimetext.com/2" title="Sublime Text 2">Sublime Text 2</a> and version controlled with <a href="http://git-scm.com/" title="GIT">GIT</a> on <a href="https://github.com/" title="GitHub">GitHub</a>. Hosted on <a href="https://www.digitalocean.com/?refcode=be3f516e52b1" title="Digital Ocean">Digital Ocean</a> server with <a href="http://www.parallels.com/products/plesk/" title="Parallels Plesk Panel">PLESK</a> server management tool with a license from <a href="https://www.openprovider.nl/" title="OpenProvider ">OpenProvider</a>.</section>
  </div>
</footer>